body {
    height: 100%;
    margin: 0;
    font-family: Arial;
}
.wrapper {
    width: 1000px;
    height: 100%;
}
.image-container {
    width: 180px;
    border-right: 1px solid #ccc;
    padding: 20px;
    vertical-align: top;
    float: left;
    height: 100%;
    box-sizing: border-box;
}
.image-container img {
    z-index: 100;
    margin-bottom: 10px;
}
.workarea {
    box-sizing: border-box;
    padding: 20px;
    float: left;
    height: 100%;
}
input[type="text"] {
    height: 34px;
    padding-left: 10px;
}
form button[disabled] {
    background: #ededed none repeat scroll 0 0;
    border: 1px solid #ccc;
    color: #2b2b2b;
    cursor: default;
}
.toolbar {
    margin-bottom: 20px;
}
.bottom-toolbar {
    margin-top: 20px;
    position: relative;
}
.bottom-toolbar select {
    width: 200px;
    float: left;
}
.board {
    border: 1px solid #ccc;
    min-height: 500px;
    height: 1px;
    position: relative;
    overflow: auto;
    width: 770px;
}
.board > .content {
    height: 100%;
    width: 100%;
    transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    background-color: #e9e9e9;
    position: relative;
}
.box {
    width: 150px;
    height: 150px;
    border: 1px solid #ccc;
    position: absolute;
    background-color: #eee;
    z-index: 99;
}
.box.ui-selecting {
    background: #fff;
}
.box.ui-selected {
    border-style: dashed
}
.ui-selectable-helper {
    position: absolute; z-index: 100;
    border:1px dotted black;
}
.ui-state-highlight {
    background-color: #e9ebba;
}
.zoom {
    width: 500px;
    float: right;
    text-align: center;
}
.ui-resizable-s {
    bottom: 0;
}
.ui-resizable-e {
    right: 0;
}
.hide {
    display: none !important;
}
.text-danger {
    color: #ff4d46;
}
.alert {
    margin-bottom: 20px;
    padding-left: 15px;
    box-sizing: border-box;
}