<html>
<head>
    <title>Board</title>
    <?php
    $this->headLink()
        ->appendStylesheet($this->basePath('bower_components/jquery-ui/themes/base/jquery-ui.min.css'))
        ->appendStylesheet($this->basePath('css/style.css'));

    echo $this->headLink();
    ?>
</head>
<body>
<?php echo $this->content; ?>

<?php
$this->inlineScript()->appendFile($this->basePath('bower_components/jQuery/dist/jquery.min.js'))
    ->appendFile($this->basePath('bower_components/jquery-ui/jquery-ui.min.js'))
    ->appendFile($this->basePath('js/application.js'));

echo $this->inlineScript();
?>
</body>
</html>