<div class="wrapper">
    <div class="image-container">
        <?php foreach ($images as $image): ?>
            <img class="thumbnail" src="<?php echo $this->basePath('/images/thumbs/' . $image['filename']); ?>" data-full-image="<?php echo $this->basePath('/images/' . $image['filename']); ?>" data-image-width="<?php echo $image['width']; ?>" data-image-height="<?php echo $image['height']; ?>">
        <?php endforeach; ?>
    </div>

    <div class="workarea">
        <div class="alert alert-success ui-state-highlight ui-corner-all hide">
            <p>The board has been saved successfully.</p>
        </div>

        <div class="alert alert-danger ui-state-error ui-corner-all hide">
            <p>The board has not been saved.</p>
        </div>

        <?php
        $form->prepare();
        $form->setAttribute('action', '/save');
        echo $this->form()->openTag($form);
        ?>

        <?php
        $name = $form->get('name');
        $name->setAttribute('class', "ui-widget ui-widget-content ui-corner-all");
        echo $this->formElement($name);
        ?>

        <?php
        $id = $form->get('id');
        echo $this->formElement($id);
        ?>

        <?php
        $submit = $form->get('submit');
        $submit->setAttribute('class', 'ui-button ui-widget ui-corner-all');
        echo $this->formElement($submit);
        ?>
        <?php echo $this->form()->closeTag(); ?>

        <div class="toolbar">
            <button class="ui-button ui-widget ui-corner-all js-box-add">New box</button>
            <button class="ui-button ui-widget ui-corner-all js-box-remove" disabled>Delete box</button>
        </div>

        <div class="board">
            <div class="content"></div>
        </div>

        <div class="bottom-toolbar clearfix">
            <select name="boardId" class="form-control">
                <option value="">None</option>
                <?php foreach ($boards as $board): ?>
                    <option value="<?php echo $board->getId(); ?>"><?php echo $board->getName(); ?></option>
                <?php endforeach; ?>
            </select>
            
            <div class="zoom">
                <div class="zoom-slider"></div>
                <span class="zoom-value">1x</span>
            </div>
        </div>
    </div>
</div>